DB_HOST=192.168.137.245
DB_PORT=1521
DB_USERNAME=porter_user
DB_PASSWORD=Group102026
DB_SERVICE_NAME=porters_pdb
DB_SYNCHRONIZE=true
PORT=3001

# Mailer Configuration (Gmail)
MAIL_USER=ceej6478@gmail.com
MAIL_PASS=enqssojcuwgvyvsx

# JWT Configuration (For Auth)
JWT_SECRET=super_secret_key_unima_porters_2026
JWT_EXPIRES=1d

#https://github.com/Owen-Lutepo/unima-lost-found.git
