DB_HOST=localhost
DB_PORT=1521
DB_USERNAME=porter_user
DB_PASSWORD=Group102026
DB_SERVICE_NAME=porters_pdb
DB_SYNCHRONIZE=true
PORT=3001

# Mailer Configuration (Gmail)
MAIL_USER=ceej6478@gmail.com
MAIL_PASS=  # Your 16-character Google App Password

# JWT Configuration (For Auth)
JWT_SECRET=
JWT_EXPIRES=1d

#https://github.com/Owen-Lutepo/unima-lost-found.git
